{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <h3>{{ actor.first_name }} {{ actor.last_name }}</h3>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-6">
                <p>Birthdate: {{ actor.birthdate }}</p>
                <p>Sex: {{ actor.sex }}</p>
                <p>Alive: {{ actor.is_alive }}</p>
                {% if not movies %}
                    <p>Movie: Nothing</p>
                {% else %}
                    <p>Movie: {{movies}}</p>
                {% endif%}
            </div>
        </div>
    </div>
{% endblock %}